<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">MovingBD</a>

    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/members']">Members</a>
      </li>
      <li *appHasCustomerClaim="'customer'" class="nav-item">
        <a class="nav-link" [routerLink]="['/customer']">Customer</a>
      </li>
      <li *appHasCustomerClaim="'driver'" class="nav-item">
        <a class="nav-link" [routerLink]="['/driver']">Driver</a>
      </li>
      <li *appHasRole="['Admin', 'Moderator']" class="nav-item">
        <a class="nav-link" [routerLink]="['/admin']">Admin</a>
      </li>
    </ul>

    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome {{ authService.decodedToken.unique_name | titlecase }}
      </a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a>
      </div>
    </div>

    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" name="email" placeholder="email" required
        [(ngModel)]="model.email" />
      <input class="form-control mr-sm-2" type="password" name="password" placeholder="password" required
        [(ngModel)]="model.password" />
      <button [disabled]="!loginForm.valid" class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Login
      </button>
    </form>
  </div>
</nav>
